{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="acceuil">
			<div>
				<p class="text-center mv-icon">
					{{ user.lastname }} {{ user.firstname }} <br>
					<span>MV</span>ola
				</p>
				<ul class="slogan">
					{% for item in slogan %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
			<ul class="menu-list">
				{% for item in menus %}
					{% set page = '/partials/' ~ pages[loop.index0] ~ '.html.twig' %}

					<li id="{{loop.index0}}{{pages[loop.index0]}}">
						<div id="{{loop.index0}}" class="menu-item" onclick="toogleContent({{loop.index0}})">
							{{ item }}
						</div>
						<div class="menu-content hide-item">{{ include(page) }}</div>
					</li>
				{% endfor %}
			</ul>
			<ul class="slogan">
				<li>
					<a href="#">Mon compte</a>
				</li>
				{% if 'ROLE_ADMIN' in user.roles %}
					<li>
						<a href="{{ path('create_account') }}">Creer compte Mvola</a>
					</li>
					<li>
						<a href="{{ path('deposit_index') }}">Validation depot</a>
					</li>
				{% endif %}
				<li>
					<a href="{{ path('user_logout') }}">Se deconnecter</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
